* {
    padding:0;
    margin: 0;
}
body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    background-attachment: fixed;
}

/************ HEADER ****************/

header {
    height: 70px;
    width: 100%;
    background-color: #080f28;
    border-bottom: 1px solid whitesmoke;
}
header nav {
    display:flex;
    flex-direction: row;
}
.boton-menu {
    font-family: arial;
    align-self: center;
    width: 125px;
    height: 40px;
    margin:15px;
    border-radius: 20px;
}
.boton-menu:hover{
    color: whitesmoke;
    background-color: red;
}
.buscador {
    position:absolute;
    right:5%;
}
.input_buscador {
    height: 30px;
    width: 215px;
}
#btn-perfil {
    position: absolute;
    top:0.5%;
    right:0.25%;
    border-radius: 50%;
    border-style:hidden;
    width: 45px;
    height: 45px;
    margin: 10px;
    color: #080f28;
    background-color: whitesmoke;
}
#btn-perfil:hover{
    color: whitesmoke;
    background-color: red;
}
button:hover {
    cursor:pointer;
} 
#btn-perfil:active {
    background-color: #080f28;
}
.boton_inicio {
    width: 100px;
    height: 80px;
}
a{
    color: whitesmoke;
    font-family: Arial;
    text-decoration: none;
}
.opciones_menu{
    margin: 2%;
    width: 60%;
    font-family: Arial;
    color: red;
}
.agregar_deco, .dgi_deco, .todas_deco, .logout_deco, .usuario_deco{
    margin-right: 1%;
    margin-left: 1%;
    background-color: whitesmoke;
    color: black;
    font-family: Arial;
    padding: 1%;
    text-align: center;
    border-radius: 15px;
}
.agregar_deco:hover, .dgi_deco:hover, .todas_deco:hover, .logout_deco:hover, .usuario_deco:hover{
    background-color: red;
    color: whitesmoke;
}
.articulos div {
    position:relative;
    display:flex;
    display:inline-block;
    margin:18.5px;
    margin-left: 45px;
    margin-right: 45px;
}

/***************** PELICULAS ********************/

.articulos_all div {
    position:relative;
    display:flex;
    display:inline-block;
    margin:15px;
    margin-left: 45px;
    margin-right: 45px;
}
.articulos div p {
    position: absolute;
    bottom:1.25%;
    width: 100%;
    height: 15%;
    background: #080f28;
    opacity: .9;
    align-items: center;
    font-family: Arial Black;
    color: whitesmoke;
    text-align: center;
}
.articulos_all div p {
    position: absolute;
    bottom:1.25%;
    width: 100%;
    height: 15%;;
    align-items: center;
    font-family: Arial Black;
    color: whitesmoke;
    text-align: center;
}
h1{
    color: whitesmoke;
    font-family: Arial;
    background-color: #080f28;
    text-transform: uppercase;
    text-align: center;
    margin: 16.8%;
    margin-bottom: 0;
    border: 3px solid whitesmoke;
    border-radius: 20px;
    padding: 4%;
    backdrop-filter: blur(7px);
}

/************* ADD PELICULA ************/

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    font-family: arial;
    color: whitesmoke;
    background-color: #080f28;
    border: 3px solid whitesmoke;
    margin: auto;
    padding: 2%;
    border-radius: 25px;
    margin-top: 12.3%;
    margin-bottom: 12.3%;
}
.fondo_deco{
    padding: 0.01%;
}
.form-container > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-container label {
    width: 170px;
    text-align: right;
    margin-right: 15px;
}
.form-container input, 
.form-container select {
    flex: 1;
}

/*************** PERFIL ****************/

.login_deco{
    padding: 18.2%;
}
.form{
    color: whitesmoke;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    background-color: #080f28;
    padding: 2%;
    margin-left: 20%;
    margin-right: 25%;
    padding-left: 9%;
}
.username_deco, .contraseña_deco{
    padding: 1%;
    width: 400px;
    font-family: 'Segoe UI';
}
.iniciar_deco{
    margin: 1%;
    padding: 1%;
    width: 318px;
}
.contraseña_place{
    margin-left: 65px;
}
.usuario_place{
    margin-left: 6px;
}

/*********** COMENTARIOS ************/

.dir_conteiner{
    color: whitesmoke;
    font-family: Arial;
    margin: 2%;
}
.imagen_deco{
    border-radius: 20px;
}
.info_pelicula{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2%;
    margin-left: 8%;
}
.info{
    color: whitesmoke;
    font-family: 'Segoe UI';
    background-color: #080f28;
    margin: 2%;
    padding: 2%;
    border: 3px solid whitesmoke;
    border-radius: 20px;
}
.h1_peli{
    margin: 2%;
    border-radius: 20px;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    font-family: 'Segoe UI';
    background-color: #080f28;
}
#director_peli, #año_peli, #fecha_peli, #sinopsis_peli, #contador{
    padding: 2%;
}
.comentarios{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 98%;
    margin-top: 2%;
    margin-left: 2%;
}
.h3_coment{
    color: whitesmoke;
    font-family: arial;
    text-transform: uppercase;
}
.comentar{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}
.titulocom_deco{
    color: whitesmoke;
    font-family: Arial;
}
.hacer_comentario_deco{
    margin-top: 1%;
}
.sec_comentarios{
    flex-direction: column;
    width: 96%;
    min-height: 200px;
    color: whitesmoke;
    font-family: 'Segoe UI';
    background-color: #080f28;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
    padding: 1%;
    border: 2px solid whitesmoke;
    border-radius: 20px;
}
.botones_cont{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.editar_pelicula, .eliminar_pelicula{
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #080f28;
    width: 145px;
    margin-right: 1%;
    padding: 1%;
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    
}
.editar_pelicula{
    margin-left: 0%;
}

/************* DIR AND GEN ***************/

.dir_conteiner{
    margin: 3%;
    display: flex;
    flex-direction: column;
}
.directores_conteiner, .generos_conteiner, .imagenes_conteiner{
    columns: 3;
    padding: 2%;
    border: 3px solid whitesmoke;
    background-color: #080f28;
    border-radius: 20px;
    text-align: justify;
    font-family: 'Segoe UI';
    margin-bottom: 2%;
}
.tituladodirandgen{
    margin-bottom: 2%;
    font-family: 'Segoe UI';
}

/********* EDITAR *******/

.cont_editar{
    padding-bottom: 0;
}
.edit_peli{
    margin: 0;
    margin-left: 47%;
    padding: 1%;
    width: 170px;
}
#edit_peli_head{
    background-color: #080f28;
    color: whitesmoke;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    font-family: 'Segoe UI';
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 2%;
}
#edit_sec{
    margin-top: 3%;
    margin-bottom: 9.8%;
}

/********** ELIMINAR ***********/

.cont_eliminar{
    padding-bottom: 9.5%;
}
.del_peli{
    margin: 0;
    margin-left: 47%;
    padding: 1%;
}
#del_peli_head{
    background-color: #080f28;
    color: whitesmoke;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    font-family: 'Segoe UI';
    margin-bottom: 5%;
    margin-top: 5%;
}
.eliminacion{
    display: flex;
    flex-direction: row;
}
.eliminar_but, .back_but{
    margin: auto;
    padding-bottom: 23.3%;
}

/************** ALL ***********/

  .pagination {
    list-style: none;
    display: flex;
    border: 3px solid whitesmoke;
    background-color: #080f28;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 30%;
    margin: auto;
    
  }

  .pagination li {
    margin: auto;
  }

  .pagination a {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
  }

  .pagination a:hover {
    background-color: whitesmoke;
    color: #080f28;
  }

  .pagination .active a {
    background-color: whitesmoke;
    color: #080f28;
    font-weight: bold;
  }