* {
    padding:0;
    margin: 0;
}
body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    height: 70px;
    width: 100%;
    background-color: darkblue;
}
header nav {
    display:flex;
    flex-direction: row;
}
.boton-menu {
    align-self: center;
    width: 125px;
    height: 40px;
    margin:15px;
}

.buscador {
    position:absolute;
    right:5%;
}

.input_buscador {
    height: 30px;
    width: 215px;
}

#btn-perfil {
    position: absolute;
    top:0.5%;
    right:0.25%;
    border-radius: 50%;
    border-style:hidden;
    width: 45px;
    height: 45px;
    margin: 10px;
    color: darkblue;
    background-color: white;
}

button:hover {
    cursor:pointer;
} 
#btn-perfil:active {
    background-color: #6c6cffc5;
}

.boton_inicio {
    width: 100px;
    height: 80px;
}

.articulos div {
    position:relative;
    display:flex;
    display:inline-block;
    margin:15px;
}

.articulos div p {
    position: absolute;
    bottom:1.25%;
    width: 100%;
    height: 15%;;
    background: darkblue;
    opacity: .6;
    align-items: center;
    font-family: Arial Black;
    color: white;
    text-align: center;
}