{% extends './peliculas.html' %}

{% block content %}
<form method="POST">
  <div>
    <label for="nombre">Nombre de la pelicula:</label>
    <input type="text" name="nombre" required autofocus>
  </div>
  <div>
    <label for="imagen">Imagen:</label>
    <input type="text" name="imagen" required>
  </div>
  <div>
    <label for="anio">Anio:</label>
    <input type="text" name="anio">
  </div>
  <div>
    <label for="estreno">Fecha de estreno:</label>
    <input type="text" name="estreno" required>
  </div>
  <div>
    <label for="opinion">Tu opinion</label>
    <input type="text" name="opinion" required>
  </div>
  <div>
    <label for="estreno">Sinopsis</label>
    <input type="text" name="Sinopsis" required>
  </div>
  <div>
    <label for="nombre">Directores disponibles</label>
    <select name="Directores" required>
      <option disabled selected>Directores</option>
      {% for director in directores %}
        <option value="{{Directores}}"></option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="nombre">Generos disponibles</label>
      <select name="Generos" required>
        <option disabled selected>Generos</option>
    {% for genero in generos %}
      <option value="{{Generos}}"></option>
    {% endfor %}
  </select>
  </div>
  <input type="submit">
</form>
{% endblock %}