{% extends './peliculas.html' %}

{% block content %}

<div class="info_pelicula">
  <div class="img">
    <img class="imagen_deco" src="{{unaPeli.img}}" alt="{{unaPeli.nombre}}" width="300px" height="500px">
  </div>
  <div class="info_title">
    <h1 class="h1_peli">{{unaPeli.Nombre}}</h1>
  
  <div class="pelicula">
    <div class="imagen">
    </div>
    <div class="info">
      <p id="director_peli">DIRECTOR: {{unaPeli.Director}}</p>
      <p id="año_peli">AÑO DE LANZAMIENTO: {{unaPeli.Anio}}</p>
      <p id="fecha_peli">FECHA DE ESTRENO: {{unaPeli.Fecha_Estreno}}</p>
      <p id="sinopsis_peli">SINOPSIS: {{unaPeli.Sinopsis}}</p>
    </div>
  </div>
</div>
</div>

<div class="comentarios">
  <h3 class="h3_coment">Comentarios:</h3>

  <div class="sec_comentarios">
    {% for comentario in comentarios %}
      <p id="comentario_usuario"><strong>{{ comentario['usuario'] }}: </strong>{{ comentario['comentario'] }}</p>
      <br>
    {% endfor %}
  </div>
    
  <div class="opciones">

    {% if user == "" %}
      <span></span>
    {% else %}

    <div class="comentar">
      <form method="POST">
        <div class="titulocom_deco">
          <label  for="hacer_comentario">Tu opinión sobre la pelicula: </label>
        </div>
        <div class="hacer_comentario_deco">
          <textarea name="comentario" id="" cols="80" rows="5" required placeholder="Comenta Aquí:"></textarea>
        </div>
        <input type="submit" value="Enviar comentario" id="boton_enviar_comentario">
      </form>
    </div>

    <div class="botones_cont">

      <div class="editar_pelicula">
        <form action="/pelicula/editar/{{ unaPeli.Nombre }}">
          <input type="submit" value="Editar {{unaPeli.Nombre}}" id="boton_editar">
        </form>
      </div>
      {% if comentarios|length > 1 %}
        <span></span>
      {% else %}
          <div class="eliminar_pelicula">
            <form action="/pelicula/eliminar/{{ unaPeli.Nombre }}">
              <input type="submit" value="Eliminar {{ unaPeli.Nombre }}" id="boton_eliminar">
            </form>
          </div>
      {% endif %}
      {% endif %}
    </div>

  </div>
</div>
{% endblock %}