{% extends './peliculas.html' %}

{% block content %}
{% if directores|length > 0 %}
    <h3>Directores presentes en la plataforma: </h3>
    {% for i in Directores %}
        <p> {{i}}</p>
    {% endfor %}
{% endif %}

{% if generos|length > 0 %}
    <h3>Generos presentes en la plataforma: </h3>
    {% for i in Generos %}
        <p> {{i}}</p>
    {% endfor %}
{% endif %}

{% if imagenes|length > 0 %}
    <h3>Películas con imágenes cargadas: </h3>
    {% for i in imagenes %}
        <p> {{i}}</p>
    {% endfor %}
{% endif %}

{% endblock %}