{% extends './peliculas.html' %}

{% block content %}
<div class="caja_directores">
    <div></div>
</div>
<div class="caja_generos">
    <div></div>
</div>
<div class="caja_imagenes">
    <div></div>
</div>
<div class="dir_conteiner">
    {% if directores|length > 0 %}
    <div class="directores">
        <h3>Los directores presentes en la plataforma son: </h3>
        <br>
        {% for i in directores %}
            <li>{{i}}</li>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    {% if generos|length > 0 %}
    <div class="generos_conteiner">
        <h3>Los generos presentes en la plataforma son: </h3>
        <br>
        {% for i in generos %}
            <li>{{i}}</li>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    {% if imagenes|length > 0 %}
    <div class="imagenes_conteiner">
        <h3>Las películas con imágenes cargadas son: </h3>
        <br>
        {% for i in imagenes %}
            <li>{{i}}</li>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}