{% extends './peliculas.html' %}
{% block content %}
<div class="cont_editar">
    <h1 id="edit_peli_head">Editar {{pelicula_encontrada["Nombre"]}}</h1>
</div>

<form method="POST">
<div class="fondo_deco">

  <div class="form-container" id="edit_sec">

    <div>
      <label for="nombre">Nombre de la pelicula:</label>
      <input type="text" name="nombre" autofocus>
    </div>

    <div>
      <label for="imagen">Imagen:</label>
      <input type="text" name="imagen" placeholder="Link img." required>
    </div>

    <div>
      <label for="anio">Año:</label>
      <input type="text" name="anio" required>
    </div>

    <div>
      <label for="estreno">Fecha de estreno:</label>
      <input type="text" name="estreno" placeholder="(Dia) de (Mes)" required>
    </div>

    <div>
      <label for="opinion">Reseña (Opcional):</label>
      <input type="text" name="opinion">
    </div>

    <div>
      <label for="sinopsis">Sinopsis:</label>
      <input type="text" name="sinopsis" required>
    </div>

    <div>
      <label for="nombre">Directores Disponibles:</label>
        <select name="director" required>
            <option disabled selected>Director:</option>
            {% for director in directores %}
            <option value="{{director}}">{{director}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
      <label for="nombre">Generos Disponibles:</label>
      <select name="genero" required>
            <option disabled selected>Genero</option>
            {% for genero in generos %}
            <option value="{{genero}}">{{genero}}</option>
            {% endfor %}
        </select>
    </div>

    <button value="{{pelicula_encontrada['Nombre']}}" class="edit_peli">Editar</button>
    
</div>
</div> 
</form>
{% endblock %}