<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
    </head>

    <body>
        <div id="contenedor">
            <header>
                <nav>
                    <div class="boton_inicio"><button><a  href="index.html">Inicio</a></button></div>

                    <div class="boton_perfil"><button><a href="perfil.html">Perfil</a></button></div>
                    
                </nav>
            </header>

            <main>
            </main>

            <footer>
            </footer>
        </div>
    </body>
</html>