{% extends './peliculas.html' %}

{% block content %}
<div class="dir_conteiner">
    {% if directores|length > 0 %}
    <h3 class="tituladodirandgen">Los Directores presentes en la plataforma son: </h3>
    <div class="directores_conteiner">
        {% for i in directores %}
            <li>{{i}}</li>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    {% if generos|length > 0 %}
    <h3 class="tituladodirandgen">Los Generos presentes en la plataforma son: </h3>
    <div class="generos_conteiner">
        {% for i in generos %}
            <li>{{i}}</li>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <h3 class="tituladodirandgen">Las películas con imágenes cargadas son: </h3>
    {% if imagenes|length > 0 %}
    <div class="imagenes_conteiner">
        {% for i in imagenes %}
            <li>{{i}}</li>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}