<!DOCTYPE html>
<html>
    <head>
        <title>CINEREVIEW.COM</title>
        <link rel="shortcut icon" href="https://images.emojiterra.com/google/android-12l/512px/1f37f.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">

        <link rel="stylesheet" href="../static/css/e_index.css">
    </head>

    <body>
        <div id="contenedor">
            <header>
                <nav>
                    <div>
                        <form method="get" action="/peliculas">
                            <button class="boton-menu"> 
                                <p>INICIO</p>
                            </button>
                        </form> 
                    </div>
                       
                    <div class="buscador">
                        <form action="/buscar" method="POST" class="formulario_buscar">
                            <input type="text" name="info_buscar" placeholder="Buscar Peliculas:" class="input_buscador" required>
                            <input type="submit" value="BUSCAR" class="boton-menu"/>
                        </form>
                    </div>

                    <div>
                      <a href="{{url_for('login')}}">
                        <button id="btn-perfil"> 
                          <span class="material-icons">manage_accounts</span>
                        </button>
                      </a>
                    </div>
                </nav>
            </header>

            <hr>

            <main>
                <article>
                    <div class="articulos">
                        {% block content %}
                            {% if nombre_peliculas|length > 0 %}
                                {% for i in range(nombre_peliculas|length) %}
                                    <div id="{{i}}">
                                        <img src="{{ imagenes_peliculas[i] }}" alt="imagen" width="200px" height="300px">
                                        <p> {{ nombre_peliculas[i] }}</p>
                                    </div>
                                {% endfor %}

                            {% else %}
                                <h1>No hay coincidencias de busqueda</h1>
                            {% endif %}
                        {% endblock %}
                    </div>
                </article>
            </main>
            <footer>
            </footer>
        </div>
    </body>
</html>