<!DOCTYPE html>
<html>
    <head>
        <title>CINEREVIEW.COM</title>
        <link rel="shortcut icon" href="https://images.emojiterra.com/google/android-12l/512px/1f37f.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/e_index.css">
        <meta charset="utf-8">
    </head>

    <body>
        <div id="contenedor">
            <header>
                <nav>
                    <div>
                        <form method="get" action="/peliculas">
                            <button class="boton-menu"> 
                                <p>INICIO</p>
                            </button>
                        </form> 
                    </div>
                       
                    <div class="buscador">
                        <form action="/buscar" method="POST" class="formulario_buscar">
                            <input type="text" name="info_buscar" placeholder="Buscar Peliculas:" class="input_buscador" required>
                            <input type="submit" value="BUSCAR" class="boton-menu">
                        </form>
                    </div>

                    <div class="opciones_menu">                        
                        {% if user == "" %}
                      <a href="{{url_for('login')}}">
                        <button id="btn-perfil"> 
                          <span class="material-icons">manage_accounts</span>
                        </button>
                      </a>
                      {% else %}
                      {{user}}
                        <a class="logout_deco" href="{{url_for('logout')}}" id="cerrar_sesion">Cerrar sesion</a>
                        <a class="agregar_deco" href="{{url_for('agregarPelicula')}}" id="agregar_pelicula">Agregar Pelicula</a>
                      {% endif %}
                      <a class="dgi_deco" href="{{url_for('dGI')}}">Informacion Adicional</a>
                      <a class="todas_deco" href="{{url_for('allPelis')}}">Todas las Peliculas</a>
                    </div>
                </nav>
            </header>

            <main>
                {% block content %}
                <article>
                    <div class="articulos">
                            {% if nombre_peliculas|length > 0 %}
                                {% for i in range(nombre_peliculas|length) %}
                                    <div id="{{i}}">
                                        <a href="/pelicula/{{ nombre_peliculas[i] }}">
                                        <img src="{{ imagenes_peliculas[i] }}" alt="imagen" width="200px" height="300px">
                                    </a>
                                        <p>{{ nombre_peliculas[i] }}</p>
                                    </div>
                                {% endfor %}

                            {% else %}
                                <h1>No hay coincidencias de busqueda</h1>
                            {% endif %}
                        </div>
                    </article>
                {% endblock %}
            </main>
        </div>
        <link rel="stylesheet" href="{{url_for('static',filename='css/e_index.css')}}">
    </body>
</html>