{% extends './peliculas.html' %}

{% block content %}
<div class="iniciosesion">
  <div class="form">
    <form method="POST">
      <label for="username">Nombre de usuario</label>
      <input type="text" placeholder="Usuario" name="username" required autofocus id="input_texto">
      <label for="password">Contraseña</label>
      <input type="password" placeholder="Contraseña" name="password" required id="input_texto">
      <input type="submit" value="Iniciar Sesión" id="boton_iniciar_sesion">
    </form>
  </div>
</div>
{% endblock %}