{% extends './peliculas.html' %}

{% block content %}
<div class="login_deco">

  <div class="form">

    <form method="POST">

      <div class="username_deco">
        <label for="username">Nombre de Usuario: </label>
        <input class="usuario_place" type="text" placeholder="Usuario" name="username" required autofocus id="input_texto">
      </div>

      <div class="contraseña_deco">  
        <label for="password">Contraseña: </label>
        <input class="contraseña_place" type="password" placeholder="Contraseña" name="password" required id="input_texto">
      </div>

      <input class="iniciar_deco" type="submit" value="Iniciar Sesión" id="boton_iniciar_sesion">

    </form>

  </div>

</div>
{% endblock %}