<!DOCTYPE html>
<html>
    <head>
        <title>Plantilla Perfil</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/estilos_perfil.css">
    </head>

    <body>
        <div id="contenedor">
            <header>
                <nav>
                    <form method="get" action="peliculas">
                        <button class="boton-menu"> 
                            <p>Inicio</p>
                        </button>
                    </form> 

                    <form method="get" action="perfil">
                        <button class="boton-menu"> 
                            <p>Perfil</p>
                        </button>
                    </form> 
                    
                </nav>
            </header>

            <main>
              <form method="POST">
                <label for="username">Nombre de usuario</label>
                <input type="text" placeholder="Usuario" name="username" required autofocus>
                <label for="password">Contraseña</label>
                <input type="password" placeholder="Tu contraseña" name="password" required>
                <input type="submit">
              </form>
            </main>

            <footer>
            </footer>
        </div>
    </body>
</html>